extends main

block internal_content
	script.
		// init socket
		var socket = io('/users');
		
		// emit the initial position to the server for admins update
		socket.emit('updatePosition', C3D.actualPosition);
		
		var marker;
		var user3D;
		
		if (#{enable_2D}) {
			// 2D Setup: set the icon for the navigation
			var navIcon =  L.AwesomeMarkers.icon( C3D.config.style['location'] );
			var actualLatLng = C3D.fromGeneralTo2D(C3D.actualPosition);
			var marker = L.marker(actualLatLng, {
			    icon: navIcon,
			    draggable: true
			});
			marker.addTo(C3D.index[C3D.actualPosition.levelId].layer2D.userMarkers);		
			marker.bindPopup('<b>[' + actualLatLng.lat + '; ' + actualLatLng.lng + ']</b>');
			
			// 2D moving
			marker.on('drag', function(e) {
				// the drag functionality already sets the new location of the marker, so only need to read the location
				actualLatLng = marker.getLatLng();
				marker.bindPopup('<b>[' + actualLatLng.lat + '; ' + actualLatLng.lng + ']</b>');
				// update the general position
				C3D.actualPosition = C3D.from2DToGeneral(actualLatLng);
				// if is active also 3D, move the CUBE when walking in FPV
				if(#{enable_3D}) {
					user3D.position = C3D.fromGeneralTo3D(C3D.actualPosition);
				}
				
				// emit the new position to the server for admins update
				socket.emit('updatePosition', C3D.actualPosition);
			});
		}
		
		if(#{enable_3D}) {
			var user3D = C3D.generator3D['cube']('0x00FF00');
			C3D.index[C3D.actualPosition.levelId].obj3D.userModels.add(user3D);
			user3D.position = C3D.fromGeneralTo3D(C3D.actualPosition);
			console.log(C3D.actualPosition);
			// 3D moving
			// the FPVmoved event is fired by the pointerlock library on position change, max 25 times/sec
			C3D.on( 'FPVmoved', function() {
				// update the general position
				C3D.actualPosition = C3D.from3DSceneToGeneral(C3D.camera3D.parent.parent.position.clone());
				
				// the pointerlock library automatically moves the camera, but the user model needs to be moved manually
				user3D.position = C3D.fromGeneralTo3D(C3D.actualPosition);
				
				// if is active also 2D, move the marker when walking in FPV
				if(#{enable_2D}) {
					actualLatLng = C3D.fromGeneralTo2D(C3D.actualPosition)
					marker.setLatLng(actualLatLng);
					marker.bindPopup('<b>[' + actualLatLng.lat + '; ' + actualLatLng.lng + ']</b>');
				}
				console.log(C3D.actualPosition);
				// emit the new position to the server for admins update
				socket.emit('updatePosition', C3D.actualPosition);	
			});
		}

		// level change
		C3D.on('selectFeature', function(idObject) {
			if(C3D.index[idObject].properties.class === 'level') {
				
				if (#{enable_2D}) { 
					// move marker to new level
					C3D.index[C3D.actualPosition.levelId].layer2D.userMarkers.removeLayer(marker);
					marker.addTo(C3D.index[idObject].layer2D.userMarkers);
				}
				
				if (#{enable_3D}) {
					// move cube to the new level
					C3D.index[idObject].obj3D.userModels.add(user3D);
					C3D.show3DObject(user3D, true);
				}
				
				// update the general position
				C3D.actualPosition.levelId = idObject;
				
				// emit the new position to the server for admins update
				socket.emit('updatePosition', C3D.actualPosition);
			}
		});